extends layout

block content
  a(href='http://localhost:3000/')
      h1  Add
  p
  .col2
        form(id = 'form' action='/api/add', method = 'post')
          | a:
          br
          input(type='text', name='A', value='')
          br
          //input(name='search', type='submit', value='Submit')   
          | b:
          br
          input(type='text', name='B', value='')
          br
          //input(name='search', type='submit', value='Submit')   
          
          br
  button.btn
    a(href='http://localhost:3000/api/result')
      | CALCULATE 
